{% extends 'base.html' %}

{% block content %}

<div class=" pt-3">
    <div class="row">
        {%for x in project%}
        <div class="col-md-6 offset-md-3 mt-2">
            <div class="card">

                <div class="view view-cascade overlay">
                    <img src="{{x.image.url}}" class="img-fluid" alt="">
                    <a href="{% url 'review' x.id %}">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <div class="card-body">
                    <h5 class="">{{x.title}}</h5>
                    <a href="{% url 'review' x.id %}">Continue ..</a>
                </div>

            </div>
            <div class="card-footer">
                
                    {% if user == project.user %}
                    <form method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger" name="project-id"
                            value="{{project.id}}">Delete</button>
                    </form>
                    {% endif %}
                
            </div>
        </div>
        {%endfor%}
    </div>
    </div>
</div>

{% endblock %}