{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load ratings %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-sm">
            <div class="view view-cascade overlay">
                <img class="img-fluid" src="{{project.image.url}}" alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
        </div>
        <div class="col-sm">
            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">

                <!-- Title -->
                <h2 class="card-title"><strong>{{project.title}}</strong></h2>
                <!-- Subtitle -->
                <h6 class="fw-bold py-2">Description</h6>
                <!-- Text -->
                <p class="card-text">{{project.description}}
                </p>
                <a href="{{project.projecturl}}" target="_blank">
                    <button class="btn btn-secondary">Check out</button>
                </a>
                <h5 class="text-secondary">By: {{project.user}}</h5>
                <a href="{% url 'review' project.id %}">
                    <button class="btn btn-secondary" type="submit"> Review </button>
                </a>
            </div>
        </div>
    </div>
    <div class="rating-wrapper ">
        <h2 class="pt-3 fw-bold">Rate</h2>
        <div class="row">
            <div class="col-sm">
                <h4>Usability</h4>
                {% ratings project %}
            </div>
            <div class="col-sm">
                <h4>Design</h4>
                {% ratings project %}
            </div>
            <div class="col-sm">
                <h4>Content</h4>
                {% ratings project %}
            </div>
        </div>

    </div>
<div>

{% endblock %}